/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #161616;
}
::-webkit-scrollbar-thumb {
    background: #434649;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #85CB33;
}


html{
    scroll-behavior: smooth;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header{
    height: 55vw;
    position: relative;
    background-image: url(./Images/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99; */
}

header ul{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}
header a, header h1{
    color: #f6f6f6;
    text-decoration: none;
    font-family: System-ui,sans-serif;
}
nav{
    height: 80px;
    padding: 3rem;
    display: flex;
    justify-content: space-between;

}
.menu {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

.item {
    text-decoration: none;
    margin: 0 0.4rem;
    font-size: 1vw;
    font-weight: 400;
    cursor: pointer;
    color: #F2F2F2;
}

.item:hover {
    font-weight: 500;
    color: #17dddd;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.logo{
    background-color: #17dddd;
}

.header-body{
    display: flex;
    justify-content: right;
    text-align: justify;
}
.header-body h1{
    margin: 0%;
    padding-top: 2%;
    padding-left: 60%;
    padding-right: 8%;
    text-align: right;
    font-size: 2.5vw; 
    
}

.titulo{
    display: inline-block;
    padding: 0.8rem;
    border: solid;
}
/* div datos */

.datos{
    margin: 5%;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.text-box-1{
    padding: 0.8rem;
    text-align: center;
}
.text-box-1 h2, h3{
    color: #25b205;
    padding-bottom: 1%;
}
.text-box-1 h2{
    font-size: 2.5em;
}
.text-box-1 h3{
    font-size: 1.5em;
}

/* explicaion */
.container-explicacion{
    text-align: center;
}

.explicacion{
    margin: 5%;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.hidden_txts{
    justify-items: center;
    align-items: center;
    margin: 5%;
    background-color: #161616;
}
.text-box-2{
    text-align: justify;
    padding: 1.5rem;
}

.text-box-2 p{
    padding: 0.8rem;
}

.text-box-2 a{
    text-decoration: none;
    position: relative;
    padding: 2%;
    color: #F2F2F2;
    border-radius: 0.4rem;
    background-color: #25b205;
}

.img-box-1 img{
    max-width: 300px;
    margin: 0 auto;
    padding-top: 3%;
}

/* causas */

.causas{
    text-align: center;
}

.target{
    margin: 5%;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.cards{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    text-align: justify;
    border: solid;
    box-shadow: 5px 5px rgb(0, 0, 0);   
}

.cards p{
    padding: 0.5rem;
}

.cards a{
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 2%;
    color: #F2F2F2;
    border-radius: 0.4rem;
    background-color: #25b205;
}
/* mitigacion */

.container-mitigacion{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.container-mitigacion a{
    text-decoration: none;
    position: relative;
    padding: 2.5%;
    color: #F2F2F2;
    border-radius: 0.4rem;
    background-color: #25b205;
}

.target-mitigacion{
    padding: 1.4rem;
    border: solid;
    box-shadow: 5px 5px rgb(0, 0, 0);  
}

.target-mitigacion li{
    padding: 0.8rem;
    text-align: justify;
    list-style: none;
}

/* galeria */
.container-galeria{
    margin: 5%;
}
.img-box-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    overflow: hidden;
}

.img-box-2 img{
    width: 300px;
    height: auto;
}